<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>请添加图书</h1>
<form method="get" action="/book/addnew">
    <p>书名: <input type="text" name="name" /></p>
    <p>作者: <input type="text" name="author" /></p>
    <p>出版社: <input type="text" name="publishing" /></p>
    <p>价格: <input type="text" name="price" /></p>
    <input type="submit" value="添加" />
</form>


<div th:replace="~{fragments/footer :: footer}">...</div>
<script src="../../js/index/main.js" th:src="@{/js/add.js}"></script>
</body>
</html>